.shop {
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 0px 140px 0px 140px;
    margin-top: 80px;
    
}
.shops {
    display: grid;
   grid-template-columns: repeat(3, 1fr); 
}
.order {
    background-color: #FFE0B3;
    padding: 20px;
    border-radius: 20px;
    position: sticky;
    top: 0;
}

